Repository UKHO/dockerimages, changes with the owners that CODEOWNERS names for each.
All owners: @UKHO/Atlantis, @UKHO/digital-delivery-capability, @UKHO/data-engineering

pbi-163985 - Get GDAL Binaries from official GDAL image
  linux/jdk8-python36/Dockerfile
Owners: @UKHO/Atlantis

Installing gdal_calc rather than using complex method to introduce binaries
  linux/jdk8-python36/Dockerfile
  linux/jdk8-python36/gdal_calc.py
Owners: @UKHO/Atlantis

Remove unnecessary binaries
  linux/jdk8-python36/Dockerfile
Owners: @UKHO/Atlantis

pbi-163985 - Add gdal_calc.py to jkd8-python36 docker image (#49)
  linux/jdk8-python36/Dockerfile
  linux/jdk8-python36/gdal_calc.py
Owners: @UKHO/Atlantis

Regex should ignore beta versions
  linux/terraform-azure-make/versions
  linux/terraform-azure-powershell/versions
  linux/terraform-azure/versions
  linux/terraform/versions
Owners: @UKHO/digital-delivery-capability

Rev package version
  linux/esa-snap7-snappy/Dockerfile
Owners: none

Regex should ignore beta versions (#50)
  linux/esa-snap7-snappy/Dockerfile
  linux/terraform-azure-make/versions
  linux/terraform-azure-powershell/versions
  linux/terraform-azure/versions
  linux/terraform/versions
Owners: @UKHO/digital-delivery-capability

Remove whitespace
  azure-pipelines.yml
Owners: none

Update README.md
  README.md
Owners: none

Remove whitespace (#51)
  README.md
  azure-pipelines.yml
Owners: none

Try using versions script as part of docker build
  linux/terraform/Dockerfile
Owners: @UKHO/digital-delivery-capability

Add file into container
  linux/terraform/Dockerfile
Owners: @UKHO/digital-delivery-capability

Copy instead of add
  linux/terraform/Dockerfile
Owners: @UKHO/digital-delivery-capability

Give script permissions to run
  linux/terraform/Dockerfile
Owners: @UKHO/digital-delivery-capability

Try using versions script as part of docker build (#52)
  linux/terraform/Dockerfile
Owners: @UKHO/digital-delivery-capability

Use script for selecting terraform version
  linux/terraform-azure-make/Dockerfile
  linux/terraform-azure-powershell/Dockerfile
  linux/terraform-azure/Dockerfile
Owners: @UKHO/digital-delivery-capability

Use script for selecting terraform version (#53)
  linux/terraform-azure-make/Dockerfile
  linux/terraform-azure-powershell/Dockerfile
  linux/terraform-azure/Dockerfile
Owners: @UKHO/digital-delivery-capability

pbi-165954 - Create JDK8 Python 3.8 docker image
  linux/jdk8-python38/Dockerfile
  linux/jdk8-python38/README.md
Owners: none

CODEOWNERS:

linux/jdk8-python36/  @UKHO/Atlantis
terraform/ @UKHO/digital-delivery-capability
terraform-azure/ @UKHO/digital-delivery-capability
terraform-azure-make/ @UKHO/digital-delivery-capability
aws/ @UKHO/digital-delivery-capability
awscli/ @UKHO/data-engineering
